<!--
  Generated template for the EdtallerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>EDtaller</ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="showSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-spinner *ngIf="!dataLoad"></ion-spinner>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="Buscar" *ngIf="showsearch"></ion-searchbar>
  <ion-list *ngIf="videosEDtaller !== undefined">
    <button ion-item *ngFor="let video of videosEDtaller | async" (click)="showVideo(video)">
      <ion-thumbnail item-start>
        <img src="{{ video.snippet.thumbnails.default.url }}">
      </ion-thumbnail>
      <h2>{{ video.snippet.title }}</h2>
      <p>{{ video.snippet.description }}</p>
      <button ion-button clear icon-only item-end color="thirdColor"><ion-icon  name="download"></ion-icon></button>
    </button>
  </ion-list>
</ion-content>
