page-home {
  ion-title div{
    padding: 0 !important;
  }

  ion-spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
  }

  .imageCrop {
    height: 200px;
    overflow: hidden;

    img {
      height: 266px;
      margin-top: -33px;
    }
  }
}
