page-download-video {
  .item {
    padding-left: 2px;

    ion-thumbnail {
      margin-right: 5px !important;

      img {
        width: 110px;
      }
    }

    ion-badge {
      font-size: 10px;
    }
  }
}
